<!DOCTYPE html>
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->

 


    
    <title>Notícias e descontos para a terceira idade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">


  </head>


<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  



  <!-- End Navbar quando quiser colocar o filter utilize  <div class="page-header clear-filter"-->
  

  <div class="wrapper" style="height: 100%;">


  <nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/" rel="tooltip" title="Plastica na Web" data-placement="bottom" target="_blank">

          <p style="font-size: 40px; text-transform: lowercase; color: #21ce99; font-weight: bold; 
"> Compro </p>
          <h4 style="text-align: right; margin-top: -10px; color:#5878db;font-weight: bold"> TUDO </h4>

        </a>

          <button type="button" rel="tooltip" class="btn btn-sm" data-original-title="" title="" style="background-color: #5878db; margin-right: : 0px;">
            <%= link_to ("Torne-se Membro").html_safe, new_contact_message_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :style=>'color:#fff; font-size:13px; font-weight:bold'}%>        
          </button>         


        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end has-image" id="navigation" style="background: url(&quot;./assets/img/blurred-image-1.jpg&quot;) 0% 0% / cover;">
        <ul class="navbar-nav" >

          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><%= link_to 'Home', root_path, {style:"color:#2c2c2c; font-family: HelveticaNeue-Light;"} %> </p>
          </li>


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#como_funciona" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; ">Como Funciona</a></p>
          </li>          


          <li class="nav-item" style="margin-right: 30px; text-transform: uppercase;">
              <p><a href="#peca_seu_cartao"style="color:#2c2c2c; font-family: HelveticaNeue-Light;">Peça seu cartão</a></p>
          </li>          








              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Notícias
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>

                  <%= link_to assetclass.name, product_articles_path(assetclass_id: assetclass.id), {class:"dropdown-item"} %>

                  <% end %>

                                    
                </div>





              </li>



              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#2c2c2c; font-family: HelveticaNeue-Light; font-size:16px; margin-top: 4px;   ">
                  Descontos
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <% Category.where(id: 73..88).order(id: :asc).each do |category| %>


                  <%= link_to category.name, products_path(category_id: category.id), {class:"dropdown-item"} %>
                  <% end %>

                </div>





              </li>





        </ul>
      </div>
    </div>
  </nav>  


    <div class="page-header clear-filter " style="height: 100%; background-color: rgba(0, 0, 0, 0.2);">
      <div class="page-header-image" data-parallax="true" style="background-image:url('https://images.askmen.com/1080x540/2017/10/13-010333-the_7_habits_of_happy_men.jpg') ; " >
      </div>

                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #5878db">
                    </div>
                  </div>
                </div>



  <div class="container" >
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto" >
        <div style="margin-top: 25px;">              

          <div class="card-body" >
            <div class="row">
              <div class="col-md-8 mr-auto" style="text-align: left;margin-top: 25px;">
                <div class="social text-center"  >
                  <h2 class="mt-3" style="color: #fff; font-size: 36px; text-align: left;font-family: HelveticaNeue-Light;"> Compramos Agora!</h2>
                  </div></br>

                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px;">
                    <div class="icon icon-rose" style="color:#fff; ">
                      <i class="material-icons">attach_money</i>
                    </div>
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 24px;font-family: HelveticaNeue-Light;width: 500px; margin-top: 24px">Compro seu precatório </h2>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px;">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">credit_card</i>
                        </div>
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 24px;font-family: HelveticaNeue-Light;width: 500px; margin-top: 24px">Compro seu Consórcio </h2>
                    </div>


                    <div class="info info-horizontal" style="margin-top: -80px; margin-left: -8px">
                      <div class="icon icon-rose" style="color:#fff;">
                        <i class="material-icons">people</i>
                        </div>
                      <div class="description">
                        <h2 class="info-title" style=" color: #fff; text-align: left; font-size: 24px;font-family: HelveticaNeue-Light;">Compro seu carro batido</h2>
                      </div>
                    </div>




       

                  
                  </div>  


                  <div class="col-md-1 mr-auto" style="text-align: left; "></div>

                  <div class="col-md-3 mr-auto" style="text-align: left; background-color: #5878db;height: 100%; margin-top: 30px">

                  <h3 style="margin-top: 20px; color: #fff; font-weight: bold; font-size: 18px; text-align: center">O que quer vender?</h3></br>

                    <%= form_for ContactMessage.new do |f| %>




                      <div class="col-md-12 form-group has-default bmd-form-group"  >
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333;">
                              <i class="material-icons" style="color:#fff">face</i>
                            </span>
                          </div>
                          <%= f.text_field :name,  class: 'form-control', placeholder: "Nome", style:"color:#fff;margin-top:0px" %>
                        </div>
                      </div> 
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">mail</i>
                            </span>
                          </div>
                          <%= f.text_field :email, class: 'form-control', placeholder: "Email", style:"color:#fff" %>
                        </div>
                      </div>
                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons"style="color:#fff">phone</i>
                            </span>
                          </div>
                          <%= f.text_field :contacts, class: 'form-control', placeholder: "Telefone", style:"color:#fff" %>
                        </div>
                      </div>

                      <div class="col-md-12  form-group has-default bmd-form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" style="border-style: none; color: #333">
                              <i class="material-icons" style="color:#fff">info</i>
                            </span>
                          </div>
                          <%= f.text_field :content, class: 'form-control', placeholder: "O que você precisa?", style:"color:#fff" %>
                        </div>
                      </div>                      



                      <div class="text-center" style="margin-top: -20px; margin-bottom:-20px">
                        <%= f.submit "Quero Vender!",  {class: 'btn btn-rose mt-4', style: "background-color:#21ce99; color:#fff; font-weight:bold;"} %></br></br>

                      </div>

                    <% end %>



                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
     </div>


  </div>

             

























<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px;"></br>
        

<h5 class="title description" style="text-align: center; font-family: HelveticaNeue-Light ;color:#2c2c2c;background-color: #fff;  font-size: 34px;" >O que estamos comprando</h5>
<div class="section section-nucleo-icons" >
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px; border-bottom: 1px solid #ccc;">





  <div class="col-md-4" >
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/precatorios">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light">
              Precatórios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos todos os tipos de precatórios municipais, estaduais e federais. Nossa equipe analisará a documentação e em menos de 24 horas iremos passar uma proposta.
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 44),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>

                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>

        </div>
      </div>
  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/consorcios">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db;font-size: 24px; font-family: HelveticaNeue-Light">
              Consórcios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos todos os tipos de consórcio. Compramos cotas de consórcios de imóvel, automóvel, moto, cirurgia plástica, casamento. Compramos consórcios contemplados ou não contemplados.
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>

  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/processos_judiciais">
          </a>
      </div>
     <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db;font-size: 24px; font-family: HelveticaNeue-Light">
              Processos Judiciais
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos todos os tipos de processos judiciais. Compramos processos trabalhistas, de consumo, processos que envolvem questões fiscais etc...
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>




  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/recuperacao_judicial">
          </a>
      </div>
     <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db;font-size: 24px; font-family: HelveticaNeue-Light">
              Recuperação Judicial
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Se você tem um "a receber" de alguma empresa que já está em processo de recuperação judicial ou você desconfia que entrará em processo de recuperação judicial nos procure. Temos interesse em comprar esse recebível! Pode ser desde uma duplicata até um processo trabalhista ou qualquer outro tipo de recebível.
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>







  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/imovel_divida">
          </a>
      </div>
     <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db;font-size: 24px; font-family: HelveticaNeue-Light">
              Imóveis com dívida
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos imóveis com dívida bancária, dívida de IPTU e dívida de condomínio. Imóveis que estejam alienados ou bloqueados para venda por questões judiciais.
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>



  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/divida-condominio">
          </a>
      </div>
     <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db;font-size: 24px; font-family: HelveticaNeue-Light">
              Dívidas de condomínios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos dívidas de condomínios de todos os valores. Antecipamos o valor ao condomínio e em troca ficamos com o direito de cobrar o proprietário do imóvel. 
            </h2>
            </div>


            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 46),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>


        </div>
      </div>



  <div class="col-md-4">
    <div class="card card-product">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/carros-batidos">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light">
              Carros batidos
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Compramos seu carro batido. Carros com qualquer tipo de sinistro, perda total ou não, vítimas de enchentes, pequenas e grandes avarias.
            </h2>
            </div>

            <div class="card-footer">
              <div class="stats">          
                <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>info</i>Notícias").html_safe, product_articles_path(assetclass_id: 47),{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99; width:95px;', class:"btn btn-sm"}  %>
            
                  <%= link_to ("<i class='material-icons' style='margin-top:-30px; font-size:20px;margin-left:-10px'>attach_money</i>Serviços").html_safe,products_path,{ style:'color:#fff;font-size:12px;margin-top:10px; background-color: #21ce99;width:110px; margin-left:10px', class:"btn btn-sm"}  %>          
              </div>
            </div>



        </div>
      </div>








  



           
          </div>
        </div>
      </div>
      


  

    <!-- Sart Modal -->
 











    <div id="como_funciona" style="text-align: center; color:#fff; background-color: #fff; margin-top: 50px;">
      <div class="container">
        <h2 class="title description" style="color:#616a74">Como Funciona</h2></br>
        <div class="team">
          <div class="row">

            <div class="col-md-4">
              <div class="team-player">
                
                  <i class="material-icons" style="color:#21ce99; font-size: 50px">credit_card</i>
                

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Preencha o formulário</h4>
                <p style="height: 150px; font-size: 17px; color:#616a74; margin-top: 35px"> Preencha o Você informa a nossa equipe o que deseja vender e nos passa as principais informações para que possamos analisar! </p>
                <p></p>
              </div> 
            </div>


            <div class="col-md-4">
              <div class="team-player">
                <i class="material-icons" style="color:#21ce99; font-size: 50px">attach_money</i>

                <h4 class="title description" style="color:#616a74;  font-size: 25px; height: 50px">Análise da Equipe</h4>
                <p style="height: 150px; font-size: 16px; color:#616a74; margin-top: 35px">Em nosso Nossa equipe irá analisar todas as informações sobre o que você deseja vender.</p>
              </div>
            </div>


            <div class="col-md-4">

              <div class="team-player">
                <i class="material-icons" style="color:#21ce99; font-size: 50px">people</i>

                <h2 class="title description" style="color:#616a74;  font-size: 25px; height: 50px;">Proposta</h2>
                <p style="height: 150px; font-size: 16px; color: #616a74;  margin-top: 35px">Você irá receber uma proposta de nossa equipe. Caso aceite, iremos providenciar a transferência do dinheiro para a sua conta e a transferência do bem para nossa empresa.</p>
              </div>
            </div>

          </div>
        <p  style="color:#5878db;  font-size: 30px; margin-top: 50px;font-family: HelveticaNeue-Light ; margin-bottom: -60px"> 
          Segurança e Qualidade! Trabalhamos apenas com parceiros de excelência.
      </p>
        </div>
      </div>
    </div>



</div>
</div>
</div>












          <div class="col-md-12 ml-auto mr-auto" style="background-color: #5878db;" id="peca_seu_cartao" >

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 ml-auto" style="margin-top: 0px;">
                    <div class="info info-horizontal">
                      <div class="description">
                        
                        <h4 class="info-title" style=" color:#ffbc02; text-align: left; font-size: 46px; font-family: HelveticaNeue-Light;">QUEM SOMOS</h4>

                        <p class="description" style="font-size: 20px; color: #fff; text-align: left;">
                          Somos uma empresa de investimentos. Os sócios tem larga experiência no mercado de investimentos. Nossa equipe tem bastante experiência nos mercados que atuamos. Trabalhamos com capital próprio o que acelera a tomada de decisão, por conta disso conseguimos fazer uma oferta rapidamente a você. 
                        </p>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6 mr-auto" style="margin-top: 30px;">
                    <p class="mt-3" style="color: #fff; font-size: 24px;text-align: center"> Nos diga o que você deseja vender!</p></br>                    
                    <%= render 'events/new' %>

                  </div>
                </div>
              </div>


          </div>
















<div id="procedimentos" class="main" style=" background-color: #fff;margin-top: 0px"></br>
        

<h5 class="title description" style="text-align: center; font-family: HelveticaNeue-Light ;color:#2c2c2c;background-color: #fff;  font-size: 34px;" >Notícias</h5>

<div class="section section-nucleo-icons">
        <div class="container">
          <div class="row">




<div class="row" style="margin-top: 0px;">
  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/gastronomia-terceira-idade-idoso-na-web">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" >                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light;">
              Gastronomia
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px; ">

                     Tenha descontos em restaurantes, programas culinários, aulas 
                     
            </h2>
          </div>
            
          </div>
      </div>



  <div class="col-md-3">
    <div >
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/saude-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light;">
              Saúde
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">
              Tenha acesso aos melhores tratamentos para a saúde. Tenha descontos exclusivos em tratamentos, medicamentos e planos de saúde. Acompanhe as últimas notícias relacionadas a saúde.  
            </h2>
            </div>




        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/cuidador-idoso-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light;">
              Cuidados em casa
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left; font-size: 14px">

              Tenha acesso aos melhores provedores de soluções de home care, cuidadores de idosos, residenciais para idosos. 
            </h2>
            </div>



        </div>
      </div>
  <div class="col-md-3">
    <div class="">
      <div class="card-header card-header-image" data-header-animation="false">
        <a href="#pablo">
          <img style="height: 165px" src="/assets/emprego-terceira-idade-idoso-na-web.jpg">
          </a>
      </div>
      <div class="card-body">
        <div class="text-left">
          
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">                    
                </div>
                </div>
              </div>
            </div>
            <h2 class="card-title" style="height: 20px; text-align: left; color:#5878db; font-size: 24px; font-family: HelveticaNeue-Light;">

              Emprego & Negócios
            </h2>
            <h2 class="card-description" style="color:#616a74;height: 150px; margin-top: 20px; text-align: left;font-size: 14px">

              Tenha acesso a vagas de emprego para a terceira idade e oportunidades de negócio. Tenha acesso a informações que vão ajudar no seu desempenho profissional. 
            </h2>
            </div>




        </div>
      </div>





           
          </div>
        </div>
      </div>

 
</br>

<div class="container">
  <h4 style="font-size: 36px; border-bottom: 1px solid #ccc;font-family: HelveticaNeue-Light; font-weight: bold; color: #2c2c2c;"> Últimas notícias </h4>
</div></br>


<div class="container">

<% ProductArticle.last(15).each do |article|%>
<div class="row " style="margin-top: 0px;">
  

  <div class="col-md-3"style="border-bottom: 1px solid #ccc;" ></br>
    <h4 style="font-size: 22px;font-family: HelveticaNeue-Light; font-weight: bold; line-height: 1.0" > <%= link_to article.title, product_article_path(id: article), style: "font-size: 22px;color: #2c2c2c" %> </h4>
  </div>


  <div class="col-md-3" style="border-bottom: 1px solid #ccc;"></br>
     <p style="margin-top: 2px; line-height: 1.2; font-size: 15px;"> 

      <%= link_to (h truncate(ActionView::Base.full_sanitizer.sanitize(article.content), :length => 170)), product_article_path(id: article), style: "color: #2c2c2c"  %>      

    </p>
  </div>



  <div class="col-md-3" style="border-bottom: 1px solid #ccc;"></br>
      <div class="card-header card-header-image" data-header-animation="false" >
        <a href="#pablo" >
          <% if article.images.present? %>
          <%= image_tag(article.images.first.variant(resize: "400x400"),height: '170') %>
          <% else %>
          <%= image_tag "https://www.lojasramos.com.br/App_Themes/lojasramos/images/not-found.jpg" %>
          <% end %>            

          </a>
      </div>    
  </div>



</div>
<% end %>

</div>





</br></br>











    








<footer id="como_funciona" style="text-align: center; color:#fff; background-color: #fffbf5; margin-top: 0px; ">
      <div class="container"></br></br>

        <div class="col-sm-12" style="text-align: center;">
          <%= link_to ("<i class='material-icons'>chat</i>Fale conosco e peça seu cartão de benefício").html_safe, new_contact_message_path,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', style:'color:#ffbc02;font-size:30px;font-family: HelveticaNeue-Light; '} %>

        </div></br></br></br>

        <div class="team">
          <div class="row" style="margin-top: -80px;">

            <div class="col-md-4" style="text-align: left;">
              <div class="team-player" >
                
                

                <h2 class="title description" style="color:#5878db;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;">Acesso rápido</h2>

                <a style="font-size: 14px; color:#2c2c2c; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" href="#como_funciona"> Como Funciona</a></br>

                  <a style="font-size: 14px; color:#2c2c2c; height: 20px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" href="#peca_seu_cartao"> Cartão Fidelidade</a>


              </div>
  

          </div>




            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                               
                <h4 class="title description" style="color:#5878db;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;margin-left: 15px">Notícias Terceira Idade</h4>
              
                <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>

                <h3 style="font-size: 14px; color:#2c2c2c; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis; margin-bottom: -25px"> 

                  <%= link_to assetclass.name, product_articles_path(assetclass_id: assetclass.id), class:"nav-link", style:"font-size: 14px; color:#2c2c2c; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" %>
                </h3>
                <% end %>
              </div>
          </div>



            <div class="col-md-4" style="text-align: left">
              <div class="team-player">
                               
                <h4 class="title description" style="color:#5878db;  font-size: 24px; height: 50px; font-family: HelveticaNeue-Light;margin-left: 15px">Produtos & Serviços Terceira Idade</h4>
              
                <% Assetclass.where(id: 44..58).order(id: :asc).each do |assetclass| %>

                <h3 style="font-size: 14px; color:#2c2c2c; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis; margin-bottom: -25px"> 

                  <%= link_to assetclass.name, products_path(assetclass_id: assetclass.id), class:"nav-link", style:"font-size: 14px; color:#2c2c2c; height: 30px; white-space: nowrap; 
  overflow: hidden; text-overflow: ellipsis;" %>
                </h3>
                <% end %>
              </div>
          </div>




    <div class="col-md-12 Footer-copyright" style="text-align: center; color: #ffbc02; margin-top: 100px">
        © 2019 IdosoNaWeb, Inc. Todos os direitos reservados.
        
    </div>




        </div></br>
      </div>
    </footer>


